.text-decorator-none{
    text-decoration: none;
}

.container-temas{
    height: 15%;
    padding: 10px 5px;
    height: 15vh;
}

.fundoCadastro{
    background-image: url(../../../paginas/img/fundologin.jpg);
}