.textos1{
    font-weight: bold !important;
}

.imagem{
        background-image: url(https://ae01.alicdn.com/kf/H61fa2c0e6a594fe5852a8f73fac43fe0N/Cadeado-vermelho-do-amor-eterno-do-cora-o-do-fechamento-do-desejo-de-k1ka-para-o.jpg_Q90.jpg_.webp);
        background-repeat: no-repeat;
        width: 100vh;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.cor-interna{
    background-color: #ddd0ca !important;
}