.textos1{
    font-weight: bold !important;
}

.imagem{
        background-image: url(https://img.freepik.com/premium-photo/desktop-source-code-wallpaper-by-computer-language-with-coding-programming_33771-598.jpg?w=900);
        background-repeat: no-repeat;
        width: 100vh;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.cor-interna{
    background-color: #dee0f3 !important;
}