.caixa{
    background-color: #c1c1d3;
}

.titulo{
    color: white !important;
    font-Weight: bold;
}

.botao{
    border-color: white !important;
    background-color: #940303;
    color: white;
}

.postagens{
    background-color: white !important;
}

.imagem1{
    background-image: url(https://cdn.dribbble.com/users/1410611/screenshots/14061653/media/543c04ffe859258051d5d6c5da951b56.jpg);
background-repeat: no-repeat;
        width: 100vh;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
}