.caixa{
    background-color: #09a9da;
}

.titulo{
    color: white !important;
    font-Weight: bold;
}

.botao{
    border-color: white !important;
    background-color: #05178f;
    color: white;
}

.postagens{
    background-color: white !important;
}