.caixa{
    background-color: #e0b49e;
}

.titulo{
    color: white !important;
    font-Weight: bold;
}

.botao{
    border-color: white !important;
    background-color: #940303;
    color: white;
}

.postagens{
    background-color: white !important;
}